* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  ::selection {
    background-color: rgb(21, 178, 229);
    color: rgb(255, 255, 255);
  }
}
@import "./banner";
@import "./collectionmain";


@media (max-width: 400px) {
  .banner {
    padding-top: 180px;
  }
}
