.skeleton {
  width: 100%;
  background: linear-gradient(to right, #333 0%, #555 50%, #333 100%);
  background-size: 400% 400%;
  animation: pulse 1s ease-in-out infinite;
  min-height: 12px;
  max-height: 100%;
  padding: 2px;
  margin: 2px;
  margin-bottom: 12px;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

.SkeletonList {
  width: 17.8%;
  height: 250px;
  background: linear-gradient(to right, #333 0%, #555 50%, #333 100%);
  background-size: 400% 400%;
  animation: pulse 1s ease-in-out infinite;
  min-height: 12px;
  max-height: 100%;
  padding: 2px;
  margin: 2px;
}
@media (min-width: 760px) and (max-width: 1200px) {
  .SkeletonList {
    width: 22%;
  }
}

@media (min-width: 600px) and (max-width: 760px) {
  .SkeletonList {
    width: 29%;
  }
}

/* Less than 600 */
@media (max-width: 600px) {
  .SkeletonList {
    width: 45%;
  }
}

/* Less than 600 */
@media (max-width: 400px) {
  .SkeletonList {
    width: 100%;
  }
}
