select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}

.create_page {
    .labels_wrap {
        width: 100%;
        margin-top: 10px;

        .MuiChip-label {
            color: #fff;
        }
    }

    .inner {
        width: 100%;
        max-width: 600px;
        box-sizing: border-box;
        margin: 0 auto 30px;
    }
    .title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: -0.02em;
    }

    .inputGroup {
        margin-top: 15px;
    }
      
    .inputTitle {
        font-weight: 700;
        font-size: 16px;
        // color: #121223;
        display: flex;
        align-items: center;
    }
      
    .inputWrapper {
        margin-top: 10px;
    }

    .input {
        width: 100%;
        height: 50px;
        padding: 8px 16px;
        box-sizing: border-box;
        font-size: 16px;
        border-radius: 10px;
        outline: none;
        // border: 1px solid #eaeaf1;
      
        &:focus {
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        }
    }

    .priceInput, .addressInput {
        height: 50px;
        padding: 8px 16px;
        box-sizing: border-box;
        font-size: 16px;
        border-radius: 10px;
        outline: none;
        &:focus {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
        }
    }

    .lengthIndicator {
        font-size: 13px;
        font-weight: 400;
        margin-top: 6px;
        margin-right: 6px;
        text-align: right;
      
        & + .error {
          margin-top: -16px;
        }
    }

    .error {
        font-size: 13px;
        font-weight: 400;
        margin: 6px 0 0 6px;
        color: rgba(235, 87, 87);
    }

    .inputSubTitle, .inputSubTitle p {
        margin-top: 5px;
        font-weight: 400;
        font-size: 14px;
    }

    .removeOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        opacity: 0;
        transition: opacity ease 100ms;
      
        &:hover {
          opacity: 1;
        }
    }
    
    .uploadBox {
        width: 100%;
        height: 250px;
        box-sizing: border-box;
        border: 1px dashed #eaeaf1;
        border-radius: 10px;
        position: relative;
      
        &:hover {
          border-color: #888;
        }
      
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border: none;
        }
    }


    .longInput {
        height: 180px;
        resize: none;
    }

    .removeIcon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .uploadOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: opacity ease 0.1s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .upload {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1.5px solid #eaeaf1;
        box-sizing: border-box;
        padding: 7px;
        position: relative;
    }
    
    .uploadInner {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #ededf3;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 60px;
            height: 60px;
        }
    }
    
    .plusIcon {
        position: absolute;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        right: -11px;
        bottom: 17px;
        background-color: #1969ff;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            width: 12px;
            height: 12px;
        }
    }
    
}