

@import "./nfts_style";
@import "./collections";
@import "./domains";
@import "./hexagons";
@import "./profile";
@import "./create";
@import "./nft_detail";
@import "./navbar";
@import "./language";
@import "./collection_detail";


.loadmore {
    button {
        color: #fff;
        background-color: #6300ff;
        border-radius: 0.5rem;
        padding: 8px 30px;
    }
}

button.tw-connect-wallet {
    background-color: #f43178;
    color: #fff;
    font-size: 15px;;
    font-weight: 400;
    border-radius: 0.5rem;
}

button.tw-web3button {
    background-color: #6300ff;
    color: #fff;
    font-size: 15px;;
    font-weight: 400;
    border-radius: 0.5rem;
}