

@import "./nfts_style";
@import "./collections";
@import "./domains";
@import "./hexagons";
@import "./profile";
@import "./create";
@import "./nft_detail";
@import "./navbar";
@import "./language";
@import "./collection_detail";


.loadmore {
    button {
        color: #fff;
        background-color: #6300ff;
        border-radius: 0.5rem;
        padding: 8px 30px;
    }
}

button.tw-connect-wallet {
    background-color: #f43178;
    color: #fff;
    font-size: 15px;;
    font-weight: 400;
    border-radius: 0.5rem;
}

button.tw-web3button {
    background-color: #6300ff;
    color: #fff;
    font-size: 15px;;
    font-weight: 400;
    border-radius: 0.5rem;
}

.css-1fii1tk{all:unset;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;border-radius:8px;padding:12px 12px;font-size:16px;font-weight:500;box-sizing:border-box;-webkit-tap-highlight-color:transparent;line-height:1;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;box-shadow:none;background:hsl(256, 6.0%, 93.2%);color:hsl(246, 6.0%, 9.0%);cursor:pointer;}
.css-1tu9cnm {-webkit-animation: animation-103nb1t 2s linear infinite;animation: animation-103nb1t 2s linear infinite;width: 1em;height: 1em;}
.css-axmsrp {stroke-linecap: round;-webkit-animation: animation-1en1lui 1.5s ease-in-out infinite;animation: animation-1en1lui 1.5s ease-in-out infinite;}

.ant-table-wrapper .ant-table {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.04);
}

.ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, .ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  background-color: rgba(255, 255, 255, 0.2);
}

.ant-table-wrapper .ant-table-tbody >tr >th, .ant-table-wrapper .ant-table-tbody >tr >td {
  border-bottom: 1px solid transparent;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder:hover>th, .ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder:hover>td, .ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder {
  background: transparent;
}
.ant-empty-normal .ant-empty-description {
  color: #fff;
}

.ant-table-content {
  overflow: hidden;
  &::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    background: transparent;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: 0;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(95,95,95, .7);
    transition: all .2s;
    border-radius: .5rem;
  
    &:hover {
      background-color: rgba(95,95,95, .9);
    }
  }
}

.ant-btn-primary {
  background-color: #1677ff
}
.ant-modal .ant-modal-content {
  background-color: rgb(33, 36, 41);
  color: white;
}

.ant-modal .ant-modal-close {
  color: white;
  &:hover {
    color: white;
  }
}
