

.nfts_collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
    
    .nft_item {
        box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
        background-color: #fff;
        color: #313131;
        width: 17.8%;
        margin: 8px;
        margin-left: 0;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        backface-visibility: hidden;
        outline: 1px solid rgba(255, 255, 255, 0.1);
        transform: translate3d(0px, 0px, 0px);
        display: flex;
        flex-direction: column;
        max-height: 382px;
        transition: all 0.25s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: translate3d(0px, -4px, 0px);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    @media (min-width: 760px) and (max-width: 1200px) {
        .nft_item {
            width: 22%;
        }
    }
    
    @media (min-width: 600px) and (max-width: 760px) {
        .nft_item {
            width: 29%;
        }
    }
    
    /* Less than 600 */
    @media (max-width: 600px) {
        .nft_item {
            width: 45%;
        }
    }
    
    /* Less than 600 */
    @media (max-width: 400px) {
        .nft_item {
            width: 100%;
        }
    }

    .image {
        width: 100%;
        // min-height: 150px;

        img {
            object-fit: cover;
            width: 100%;
            height: 150px;
        }
    }
    
    .content {
        padding: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        border-radius: 12px;
        margin-top: -26px;
        // position: relative;
        // z-index: 10;
    }

    .cover {
        width: 78px;
        height: 78px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 10px;
        border-radius: 16px;
        padding: 3px;
        background-color: #fff;
        img {
            width: 100%;
            height: 100%;
            border-radius: 16px;
        }
    }

    .title img {
        width: 15px;
        height: 15px;
        display: inline-block;
        position: relative;
        top: -2px;
    }

    
}

.nfts_feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
    margin-top: 10px;
    
    .nft_item {
        box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
        background-color: #fff;
        color: #313131;
        width: 17.8%;
        margin: 8px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        backface-visibility: hidden;
        outline: 1px solid rgba(255, 255, 255, 0.1);
        transform: translate3d(0px, 0px, 0px);
        display: flex;
        flex-direction: column;
        max-height: 382px;
        transition: all 0.25s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: translate3d(0px, -4px, 0px);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .image {
        width: 100%;
        

        img {
            object-fit: cover;
            width: 100%;
            height: 150px;
        }
    }
    
    .content {
        padding: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;

        
    }

    .title img {
        height: 15px;
        display: inline-block;
        position: relative;
        top: -2px;
    }

    .contentBottom {
        .floor {
            font-size: 12px;
            color: rgb(100, 109, 117);
        }

        .price {
            font-size: 14px;
        }
    }



    @media (min-width: 760px) and (max-width: 1200px) {
        .nft_item {
            width: 22%;
        }
    }
    
    @media (min-width: 600px) and (max-width: 760px) {
        .nft_item {
            width: 29%;
        }
    }
    
    /* Less than 600 */
    @media (max-width: 600px) {
        .nft_item {
            width: 45%;
        }
    }
    
    /* Less than 600 */
    @media (max-width: 400px) {
        .nft_item {
            width: 100%;
        }
    }
}

.nfts_domains {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
    
    .nft_image {
      object-fit: contain;
      height: 300px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.04);
      max-height: 253px;
      background-size: 100% 100%;
      width: 100% !important;
      object-fit: cover;
    }

    .monospace {
      font-family: inconsolata,monospace;
    }

    .badge {
      display: inline-block;
      border-radius: 4px;
      background-color: #37333d;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 14px;
      color: #fff;
      padding: 4px 8px;
    }

    .token_id {
      font-size: 15px;
      margin-top: 12px;
    }
    .token_name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      color: #fff;
      font-family: inherit;
      vertical-align: inherit;
      font-size: 12px;
      line-height: 22px;
      font-weight: 700;
      margin: 0px;
      margin-bottom: 5px;
      margin-top: 4px;
    }

    .nft_item {
      width: 17.8%;
      margin: 8px;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      backface-visibility: hidden;
      outline: 1px solid rgba(255, 255, 255, 0.1);
      transform: translate3d(0px, 0px, 0px);
      display: flex;
      flex-direction: column;
      padding: 8px;
      max-height: 382px;
      transition: all 0.25s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: translate3d(0px, -4px, 0px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    
    @media (min-width: 760px) and (max-width: 1200px) {
        .nft_item {
            width: 22%;
        }
    }
    
    @media (min-width: 600px) and (max-width: 760px) {
        .nft_item {
            width: 29%;
        }
    }
    
    /* Less than 600 */
    @media (max-width: 600px) {
        .nft_item {
            width: 45%;
        }
    }
    
    /* Less than 600 */
    @media (max-width: 400px) {
        .nft_item {
            width: 100%;
        }
    }
}


.nfts_hexagons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    width: 100%;
  
  
    .nft_image {
      object-fit: contain;
      height: 300px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.04);
      max-height: 253px;
      width: 100% !important;
      object-fit: cover;
    }
  
    .token_id {
      font-size: 15px;
      margin-top: 12px;
    }
    .token_name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      color: #fff;
      font-family: inherit;
      vertical-align: inherit;
      font-size: 12px;
      line-height: 22px;
      font-weight: 700;
      margin: 0px;
      margin-bottom: 12px;
      margin-top: 4px;
    }

    .nft_item {
        width: 17.8%;
        margin: 8px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        backface-visibility: hidden;
        outline: 1px solid rgba(255, 255, 255, 0.1);
        transform: translate3d(0px, 0px, 0px);
        display: flex;
        flex-direction: column;
        padding: 8px;
        max-height: 382px;
        transition: all 0.25s ease-in-out;
      
        &:hover {
          cursor: pointer;
          transform: translate3d(0px, -4px, 0px);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    @media (min-width: 760px) and (max-width: 1200px) {
        .nft_item {
            width: 22%;
        }
    }
    
    @media (min-width: 600px) and (max-width: 760px) {
        .nft_item {
            width: 29%;
        }
    }
    
    /* Less than 600 */
    @media (max-width: 600px) {
        .nft_item {
            width: 45%;
        }
    }
    
    /* Less than 600 */
    @media (max-width: 400px) {
        .nft_item {
            width: 100%;
        }
    }
  }
  
  