nav {
  padding: 24px 0px 0px 32px;
  ul {
    display: flex;
    list-style: none;
    li {
      padding: 8px 16px;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      &.selected {
        background-color: rgba(255, 255, 255, 0.12);
      }
    }
  }
}
