.slide {
  margin: 30px 2.5% 20px 2.5%;
  position: relative;

  width: 95%;
  height: 65vh;
  @media (max-width: 1023px) {
    height: 100vh;
    min-height: 440px;
  }
  .subject {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
    .black {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 25px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 100%;
      padding: 40px 40px;
      top: 0;
      left: 0;
      color: #fff;
      .profilepicture {
        width: 64px;
        height: 64px;
        border-radius: 12px;
        border: 1px solid #fff;
        img {
          width: 100%;
          height: 100%;
          border-radius: 12px;
        }
      }
      h1 {
        width: 40%;
        margin-top: 24px;
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;

        span {
          font-size: 21px;
        }
      }
      .creator {
        display: flex;
        align-items: center;
        margin-top: 4px;
        span {
          font-size: 16px;
          margin-left: 3px;
        }
      }
      .prize {
        margin-top: 4px;
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        .reciprocal {
          display: flex;
          align-items: center;
          gap: 8px;
          @media (max-width: 1023px) {
            display: none;
          }

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 12px;
            backdrop-filter: blur(20px);
            background-color: rgb(255, 255, 255, 0.24);
            color: #fff;
            .num {
              letter-spacing: 3px;
              font-size: 16px;
            }
            span {
              font-size: 12px;
            }
          }
        }
        button {
          border-radius: 12px;
          height: 60px;
          padding: 0px 24px;
          color: #fff;
          backdrop-filter: blur(20px);
          background-color: rgb(255, 255, 255, 0.24);
        }
      }
    }
  }
}
// .slide {
//   @media (max-width: 1023px) {
//     height: 65vh;
//   }
// }
// .reciprocal {
//   @media (max-width: 1023px) {

//     display: none;
//   }
// }
