* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
* ::-moz-selection {
  background-color: rgb(21, 178, 229);
  color: rgb(255, 255, 255);
}
* ::selection {
  background-color: rgb(21, 178, 229);
  color: rgb(255, 255, 255);
}

.app {
  max-width: 100vw;
}

header {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  position: sticky;
  background-color: transparent;
  top: 0;
  z-index: 10;
}
header.scrolled {
  background-color: white;
  color: black;
}
header .block1 {
  display: flex;
  align-items: center;
  padding-right: 32px;
  cursor: pointer;
}
header .block1 .logo img {
  height: 35px;
}
header .block1 .separator {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 32px;
  margin: 0 24px;
}
header .block1 .separator.scrolledseparator {
  border-left: 1px solid rgb(227, 227, 227);
}
header .block1 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 121.45px;
}
@media (max-width: 1200px) {
  header .block1 ul {
    display: none;
  }
}
header .block1 ul li {
  position: relative;
}
header .block1 ul li a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
header .block1 ul li a.scrolledlink {
  color: #353840;
}
header .block1 ul li div.dropdown-menu__content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 35px;
  left: 0;
  background-color: white;
  width: 200px;
  border-radius: 15px;
  z-index: 20;
}
header .block1 ul li div.dropdown-menu__content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
header .block1 ul li div.dropdown-menu__content ul li {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
}
header .block1 ul li div.dropdown-menu__content ul li:hover {
  background-color: rgba(229, 232, 235, 0.5);
}
header .block1 ul li div.dropdown-menu__content ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
header .search,
header .cart {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);
}
header .search:hover,
header .cart:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
header .search.scrolleddiv,
header .cart.scrolleddiv {
  border: 1px solid rgb(227, 227, 227);
}
header .search button.material-icons,
header .cart button.material-icons {
  padding: 0;
  background: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
header .search button.material-icons.scrolledbutton,
header .cart button.material-icons.scrolledbutton {
  color: #8a939b;
}
@media (max-width: 600px) {
  header .search button.material-icons,
  header .cart button.material-icons {
    width: 26px;
  }
}
header .search {
  width: 100%;
  margin-right: 12px;
  cursor: text;
  padding: 12px;
}
header .search input {
  padding: 1 0 1px 5px;
  width: 100%;
  height: 26px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);
  margin-left: 8px;
}
header .search input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 16px;
}
header .search input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 16px;
}
header .search input:hover::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
header .search input:hover::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
header .search input.scrolledholder::-moz-placeholder {
  color: #8a939b;
}
header .search input.scrolledholder::placeholder {
  color: #8a939b;
}
@media (max-width: 600px) {
  header .search input {
    display: none;
  }
}
header .search input button.material-icons {
  font-size: 24px;
}
header .search input button.material-icons.scrolledbutton {
  color: #8a939b;
}
header .search button.slash {
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 12px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  header .search button.slash {
    display: none;
  }
}
header .search button.slash.scrolledslash {
  color: #353840;
  background-color: #e5e8eb;
}
header .walletandaccount {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);
}
header .walletandaccount.scrolleddiv {
  border: 1px solid rgb(227, 227, 227);
}
header .walletandaccount:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 1023px) {
  header .walletandaccount {
    display: none;
  }
}
header .walletandaccount button.material-icons {
  padding: 0;
  background: none;
  color: white;
  cursor: pointer;
}
header .walletandaccount button.material-icons.scrolledbutton {
  color: #353840;
}
header .walletandaccount .wallet {
  display: flex;
  justify-content: center;
  padding: 12px;
  cursor: pointer;
}
header .walletandaccount .wallet span {
  padding-left: 5px;
  color: white;
  white-space: nowrap;
  font-weight: 600;
}
header .walletandaccount .wallet span.scrolledspan {
  color: #353840;
}
header .walletandaccount .account {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 12px;
  border-left: 1px solid rgba(255, 255, 255, 0.12);
}
header .walletandaccount .account.scrolleddiv {
  border-left: 1px solid rgb(227, 227, 227);
}
header .cart {
  padding: 12px;
  position: relative;
}
header .cart .number {
  background: rgb(32, 129, 226);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  height: 18px;
  width: 18px;
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cart .number span {
  font-size: 10px;
  font-weight: 600;
}
header .cart button.material-icons.scrolledbutton {
  color: #353840;
}

.slide {
  margin: 30px 2.5% 20px 2.5%;
  position: relative;
  width: 95%;
  height: 65vh;
}
@media (max-width: 1023px) {
  .slide {
    height: 100vh;
    min-height: 440px;
  }
}
.slide .subject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.slide .subject video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.slide .subject .black {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.slide .subject .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 40px 40px;
  top: 0;
  left: 0;
  color: #fff;
}
.slide .subject .content .profilepicture {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  border: 1px solid #fff;
}
.slide .subject .content .profilepicture img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.slide .subject .content h1 {
  width: 40%;
  margin-top: 24px;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}
.slide .subject .content h1 span {
  font-size: 21px;
}
.slide .subject .content .creator {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.slide .subject .content .creator span {
  font-size: 16px;
  margin-left: 3px;
}
.slide .subject .content .prize {
  margin-top: 4px;
}
.slide .subject .content .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.slide .subject .content .bottom .reciprocal {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (max-width: 1023px) {
  .slide .subject .content .bottom .reciprocal {
    display: none;
  }
}
.slide .subject .content .bottom .reciprocal div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
}
.slide .subject .content .bottom .reciprocal div .num {
  letter-spacing: 3px;
  font-size: 16px;
}
.slide .subject .content .bottom .reciprocal div span {
  font-size: 12px;
}
.slide .subject .content .bottom button {
  border-radius: 12px;
  height: 60px;
  padding: 0px 24px;
  color: #fff;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.24);
}

nav {
  padding: 24px 0px 0px 32px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 8px 16px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
nav ul li.selected {
  background-color: rgba(255, 255, 255, 0.12);
}

div.backgroundImage {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
div.backgroundImage div.backgroundColor {
  height: 80vh;
  width: 100%;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgb(255, 255, 255));
}

div.mainList {
  width: 100%;
  padding: 20px 32px 60px 32px;
}
div.mainList div.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(227, 227, 227);
}
div.mainList div.button div.leftButton {
  display: flex;
  align-items: center;
  width: 195px;
  height: 48px;
  justify-content: space-between;
}
div.mainList div.button div.leftButton button.trending,
div.mainList div.button div.leftButton button.top {
  font-size: 24px;
  color: rgb(4, 17, 29);
  background-color: transparent;
  padding: 0 0 12px;
  cursor: pointer;
}
div.mainList div.button div.rightButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  margin-bottom: 8px;
}
div.mainList div.button div.rightButton div.sort {
  padding: 11px 16px 11px 24px;
  border-radius: 15px;
  border: 1px solid rgb(227, 227, 227);
  display: flex;
  align-items: center;
  margin-right: 16px;
  flex-wrap: nowrap;
  cursor: pointer;
}
@media (max-width: 700px) {
  div.mainList div.button div.rightButton div.sort {
    display: none;
  }
}
div.mainList div.button div.rightButton div.sort span {
  font-size: 16px;
  color: rgb(4, 17, 29);
  white-space: nowrap;
  cursor: pointer;
}
div.mainList div.button div.rightButton div.sort button.material-icons {
  background: none;
  cursor: pointer;
}
div.mainList div.button div.rightButton div.chains {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 15px;
  margin-right: 16px;
  cursor: pointer;
}
@media (max-width: 700px) {
  div.mainList div.button div.rightButton div.chains {
    margin-left: auto;
  }
}
div.mainList div.button div.rightButton div.chains p {
  font-size: 16px;
  padding: 11px 24px;
  color: rgb(4, 17, 29);
  white-space: nowrap;
  cursor: pointer;
}
div.mainList div.button div.rightButton button.viewAll {
  border: 1px solid rgb(227, 227, 227);
  font-size: 16px;
  padding: 11px 24px;
  border-radius: 15px;
  background: none;
  white-space: nowrap;
  cursor: pointer;
}
div.mainList section.allList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: auto;
  gap: 110px;
}
div.mainList section.allList .leftList,
div.mainList section.allList .rightList {
  width: 100%;
}
div.mainList section.allList div.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 8px 0px;
}
div.mainList section.allList div.title span {
  color: #646d75;
  font-size: 12px;
}
div.mainList section.allList div.title div.section1 {
  width: 64%;
}
div.mainList section.allList div.title div.section2 {
  text-align: right;
  width: 18%;
}
@media (max-width: 1200px) {
  div.mainList section.allList div.title div.section2 {
    display: none;
  }
}
div.mainList section.allList div.title div.section3 {
  margin-left: auto;
  text-align: right;
  width: 18%;
}
div.mainList section.allCard {
  width: 100%;
}
div.mainList section.allCard span.allCardTitle {
  margin-top: 40px;
  display: block;
  font-size: 24px;
  color: #04111d;
  margin-bottom: 25px;
}
div.mainList section.allCard div.fiveCard {
  height: 300px;
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 16px;
}

.itemLink {
  text-decoration: none;
  color: #04111d;
  width: 100%;
}
.itemLink div.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 8px;
  cursor: pointer;
}
.itemLink div.item:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.itemLink div.item div.section1 {
  display: flex;
  align-items: center;
  width: 64%;
}
.itemLink div.item div.section1 span.index {
  width: 28px;
  height: 23px;
  padding: 0px 9px 0px 0px;
  font-size: 20px;
  color: #646d75;
  text-align: left;
}
.itemLink div.item div.section1 div.profilePicture {
  width: 70px;
  height: 70px;
  min-width: 70px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.itemLink div.item div.section1 div.profilePicture img.profilePicture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.itemLink div.item div.section1 div.titleDiv {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 24px;
}
.itemLink div.item div.section1 div.titleDiv div.title {
  font-size: 16px;
}
.itemLink div.item div.section1 div.titleDiv span.material-icons {
  font-size: 18px;
  color: #2181e2;
}
.itemLink div.item div.section2 {
  width: 18%;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .itemLink div.item div.section2 {
    display: none;
  }
}
.itemLink div.item div.section2 span.floorPrice {
  margin-left: auto;
  text-align: right;
  color: #04111d;
}
.itemLink div.item div.section3 {
  width: 18%;
  display: flex;
  margin-left: auto;
}
.itemLink div.item div.section3 span.ceiling {
  margin-left: auto;
  text-align: right;
  color: #04111d;
}

footer {
  width: 100%;
  padding: 0px 32px;
  background-color: rgb(24, 104, 183);
}
footer .footerHeader {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(229, 232, 235, 0.25);
}
footer .footerHeader .footerHeaderSection1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 208px;
  padding: 40px 64px 0px 0px;
}
@media (max-width: 1200px) {
  footer .footerHeader .footerHeaderSection1 {
    width: 100%;
    padding-right: 0;
    align-items: center;
  }
}
footer .footerHeader .footerHeaderSection1 .stay {
  margin: 8px 0px;
}
footer .footerHeader .footerHeaderSection1 .stay span {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
footer .footerHeader .footerHeaderSection1 p {
  font-weight: 400;
  color: rgb(251, 253, 255);
  line-height: 1.5;
}
footer .footerHeader .footerHeaderSection1 .inputAndButton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
}
footer .footerHeader .footerHeaderSection1 .inputAndButton .input {
  height: 48px;
  border-radius: 12px;
  margin: 0px 8px 0px 0px;
  background-color: rgb(251, 253, 255);
  border: 1px solid rgb(227, 227, 227);
  padding: 12px;
  cursor: text;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: text;
}
footer .footerHeader .footerHeaderSection1 .inputAndButton .input ::-moz-placeholder {
  color: #999;
  opacity: 1;
}
footer .footerHeader .footerHeaderSection1 .inputAndButton .input ::placeholder {
  color: #999;
  opacity: 1;
}
footer .footerHeader .footerHeaderSection1 .inputAndButton .input input {
  font-size: 16px;
  font-weight: 400;
  padding: 1px 2px;
  cursor: text;
}
footer .footerHeader .footerHeaderSection1 .inputAndButton button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 162px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border-radius: 12px;
  background-color: #2081e2;
  margin: 0px 8px 8px;
  padding: 17px 24px;
  white-space: nowrap;
  cursor: pointer;
}
footer .footerHeader .community {
  width: 50%;
  padding: 40px 0px 0px 64px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  footer .footerHeader .community {
    width: 100%;
    padding-left: 0;
    align-items: center;
  }
}
footer .footerHeader .community .join {
  margin: 8px 0px;
}
footer .footerHeader .community .join span {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
footer .footerHeader .community .icon {
  display: flex;
}
footer .footerHeader .community .icon div {
  width: 54px;
  height: 54px;
  background-color: #2081e2;
  color: white;
  border-radius: 12px;
  margin: 8px 12px 0px 0px;
  padding: 17px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer .footerHeader .community .icon div i {
  font-size: 24px;
  cursor: pointer;
}
footer .introduceAndLink {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
footer .introduceAndLink .introduce {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 40px 0px 0px;
}
footer .introduceAndLink .introduce img {
  width: 44px;
  height: 44px;
  cursor: pointer;
}
footer .introduceAndLink .introduce a {
  font-size: 20px;
  padding: 8px 0px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
footer .introduceAndLink .introduce p {
  color: rgb(251, 253, 255);
  font-weight: 400;
}
footer .introduceAndLink .footerLink {
  width: 75%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 0px 0px 72px;
  display: flex;
  justify-content: space-around;
}
footer .introduceAndLink .footerLink .link {
  width: 20%;
  height: 100%;
  margin: 0px 0px 16px;
}
footer .introduceAndLink .footerLink .link h3 {
  font-size: 16px;
  color: white;
  margin: 16px 0px;
  white-space: nowrap;
}
footer .introduceAndLink .footerLink .link ul li {
  list-style: none;
  margin-top: 12px;
  cursor: pointer;
}
footer .introduceAndLink .footerLink .link ul li a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(251, 253, 255);
  cursor: pointer;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
footer .bottom p {
  margin: 12px 0px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(251, 253, 255);
}
footer .bottom div {
  display: flex;
}
footer .bottom div a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(251, 253, 255);
  margin-left: 16px;
}

.cardlink {
  min-width: 230.4px;
  height: 267.5px;
  display: flex;
  flex-direction: column;
  flex: 10px 5px 230.4px;
  border-radius: 10px;
  text-decoration: none;
  color: #04111d;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  cursor: pointer;
}
.cardlink:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.15);
}
.cardlink div.image {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 57%;
  overflow: hidden;
}
.cardlink div.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardlink div.content {
  padding: 16px;
}
.cardlink div.content div.contentTop {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardlink div.content div.contentTop span.title {
  max-width: 86%;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardlink div.content div.contentTop span.material-icons {
  font-size: 18px;
  margin: 0px 4px;
  color: #2181e2;
}
.cardlink div.content div.contentBottom {
  display: flex;
}
.cardlink div.content div.contentBottom div.left {
  width: 50%;
}
.cardlink div.content div.contentBottom div.left span.floor {
  display: block;
  color: #646d75;
  font-size: 12px;
}
.cardlink div.content div.contentBottom div.right {
  width: 50%;
}
.cardlink div.content div.contentBottom div.right span.ceiling {
  display: block;
  color: #646d75;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */