.banner {
  width: 100%;



  .coverPhoto {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    // height: 320px;
    // overflow: hidden;
    position: relative;

    img {
      // max-width: 100%;
      width: 100%;
    }
    
  }

  .profilePhoto {
    width: 15%;
    padding-bottom: 15%;
    // height: 180px;
    overflow: hidden;
    border-radius: 15px;
    border: 6px solid rgb(255, 255, 255);
    background-color: white;
    z-index: 2;
    position: absolute;
    bottom: -40px;
    left: 5%;
    //why?
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
    }

    .square-content {
      // background-color: blue;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .information {
    width: 100%;
    padding: 60px 32px 0px 32px;
    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .namesection {
        display: flex;
        align-items: center;
        span {
          font-size: 30px;
          // color: #04111d;
          color: #fff;
        }
        .material-icons {
          padding-left: 3px;
          color: #2181e2;
          font-size: 20px;
        }
      }
      .iconlist {
        display: flex;
        align-items: center;
        .icon {
          border-radius: 100%;
          padding: 12px;
          display: flex;
          align-items: center;
          img {
            width: 20px;
            height: 20px;
          }
          .material-icons {
            font-size: 20px;
          }
          i {
            font-size: 20px;
          }
        }
        div.separator {
          margin: 0px 10px;
          background-color: #e5e8eb;
        }
      }
    }
    .article {
      display: flex;
      align-items: center;

      .by {
        font-weight: 400;
        padding-right: 3px;
      }
      .articlename {
        font-weight: 600;
        padding-right: 3px;
        word-break:break-all;
      }
      .material-icons {
        color: #2181e2;
        font-size: 14px;
      }
    }
    .statisticalDataTop {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      div {
        white-space: nowrap;
        span.text {
          font-weight: 400;
          margin-right: 5px;
          white-space: nowrap;
        }
      }
    }
    .introduce {
      .introduceword {
        height: 50px;
        overflow: hidden;
        p {
          font-weight: 400;
        }
        a {
          cursor: pointer;
          text-decoration: none;
        }
        &.openIntroduce {
          height: 200px;
          overflow: visible;
        }
      }
      button {
        display: flex;
        align-items: center;
        background-color: white;
        .more {
          font-weight: 400;
        }
        .material-icons {
          font-size: 20px;
        }
      }
    }

    .statisticalDatabottom {
      display: flex;
      align-items: center;
      margin-top: 30px;
      padding-bottom: 8px;
      flex-wrap: wrap;
      .firstdiv,
      .seconddiv {
        display: flex;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 30px;
          .number {
            font-size: 20px;
          }
          .text {
            font-weight: 400;
            color: #646d75;
            font-size: 14px;
          }
        }
      }
    }
  }

  /* Less than 600 */
  @media (max-width: 400px) {
    .information {
      padding: 50px 15px 0px 15px;
    }
    .profilePhoto {
      width: 30%;
      padding-bottom: 30%;
    }
    .banner {
      padding-bottom: 30px;
    }
  }
}


.namesection {
  flex-wrap: wrap;
}