.collectioncard {
  width: 293px;
  height: 409px;
  display: flex;
  flex-direction: column;
  flex: 10px 5px 230.4px;
  border-radius: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px;
  transition: box-shadow 0.25s ease-in-out 0s;
  position: relative;

  cursor: pointer;
  .image {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 70%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.25s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .content {
    padding: 16px;
    height: 30%;
    width: 100%;
    // background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // .name {
      // }
      // .raritylevel {
      // }
    }
    .lastsaleprice {
      color: rgb(100, 109, 117);
      font-size: 14px;
      font-weight: 400;
    }
    .buynow {
      display: flex;
      align-items: center;
      background-color: #2081e2;
      position: absolute;
      left: 0;
      width: 100%;
      height: 36px;
      transition: bottom 75ms ease-in-out 0s;
      border-radius: 0px 0px 10px 10px;
      bottom: -20px;
      cursor: pointer;
      .buynowdiv {
        display: flex;
        justify-content: center;
        width: 80%;
        span {
          text-align: center;
          color: white;
        }
      }
      .cart {
        display: flex;
        justify-content: center;
        width: 20%;
        height: 100%;
        position: relative;
        z-index: 1;
        border-left: 1px solid rgb(227, 227, 227);
        background-color: #2081e2;
        border-radius: 0px 0px 10px 0px;
        transition: all 0.25s ease;
        cursor: pointer;
        &:hover {
          background-color: rgb(255, 255, 255, 0.2);
        }

        .material-icons {
          color: white;
          background-color: transparent;
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
  &:hover .buynow {
    bottom: 0px;
  }
}
