.cardsection {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  width: calc(100% - 30px);
  margin: 0 auto;

  .collectioncard {
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px;
    background-color: #fff;
    color: #313131;
    width: 17.8%;
    margin: 8px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    backface-visibility: hidden;
    outline: 1px solid rgba(255, 255, 255, 0.1);
    transform: translate3d(0px, 0px, 0px);
    display: flex;
    flex-direction: column;
    max-height: 382px;
    transition: all 0.25s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: translate3d(0px, -4px, 0px);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .collection {
      margin-bottom: 5px;
    }

    .collection_img {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      overflow: hidden;
      margin-right: 10px;
    }

    .image {
      width: 100%;
      height: 70%;
      max-height: 200px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.25s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .content {
      padding: 16px;
      width: 100%;
      background-color: #fff;
      color: #313131;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .lastsaleprice {
        color: rgb(100, 109, 117);
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  @media (min-width: 760px) and (max-width: 1200px) {
    .collectioncard {
        width: 22%;
    }
  }

  @media (min-width: 600px) and (max-width: 760px) {
    .collectioncard {
        width: 29%;
    }
  }

  /* Less than 600 */
  @media (max-width: 600px) {
    .collectioncard {
        width: 45%;
    }
  }

  /* Less than 600 */
  @media (max-width: 400px) {
    .collectioncard {
        width: 100%;
    }
  }
  
}