.whiteheader {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  color: black;
  border-bottom: 1px solid rgb(227, 227, 227);

  .block1 {
    display: flex;
    align-items: center;
    padding-right: 32px;
    cursor: pointer;

    .logo {
      img {
        width: 173px;
        height: 40px;
      }
    }

    .separator {
      border-left: 1px solid rgb(227, 227, 227);
      height: 32px;
      margin: 0 24px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 121.45px;
      @media (max-width: 1200px) {
        display: none;
      }

      a {
        cursor: pointer;
        text-decoration: none;
        color: #353840;
      }
      div.dropdown-menu__content {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        // position: sticky;

        position: absolute;
        top: 35px;
        left: 0;
        background-color: white;
        width: 200px;

        border-radius: 15px;
        z-index: 20;

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 10px;

          li {
            width: 100%;

            padding: 12px;
            border-radius: 12px;
            &:hover {
              background-color: rgba(229, 232, 235, 0.5);
            }
            a {
              color: #333;
              text-decoration: none;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .search {
    display: flex;
    justify-content: center;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid rgb(227, 227, 227);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    button.material-icons {
      padding: 0;
      background: none;
      color: #8a939b;
      cursor: pointer;
      @media (max-width: 600px) {
        width: 26px;
      }
    }
  }

  .search {
    width: 100%;
    margin-right: 12px;
    cursor: text;

    input {
      padding: 0 0 0 5px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0);

      transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);

      &::placeholder {
        color: #8a939b;
        font-weight: 400;
      }

      &:hover::placeholder {
        color: rgba(255, 255, 255, 0.8);
      }

      @media (max-width: 600px) {
        display: none;
      }
    }

    button.slash {
      width: 26px;
      height: 26px;
      padding: 0;
      color: #353840;
      background-color: #e5e8eb;
      font-size: 12px;
      border-radius: 10px;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }

  .walletandaccount {
    margin-right: 12px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 15px;
    border: 1px solid rgb(227, 227, 227);
    @media (max-width: 1023px) {
      display: none;
    }

    button.material-icons {
      padding: 0;
      background: none;
      color: #353840;
      cursor: pointer;
    }

    .wallet {
      display: flex;
      justify-content: center;
      padding: 12px;
      cursor: pointer;

      span {
        padding-left: 5px;
        color: #353840;
        white-space: nowrap;
        font-weight: 600;
      }
    }

    .account {
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 12px;
      border-left: 1px solid rgb(227, 227, 227);
    }
  }
  .cart {
    display: flex;
    justify-content: center;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid rgb(227, 227, 227);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    padding: 12px;
    position: relative;
    .material-icons {
      padding: 0;
      background: none;

      cursor: pointer;
      color: #353840;
    }
    .number {
      background: rgb(32, 129, 226);
      border-radius: 50%;
      color: rgb(255, 255, 255);
      height: 18px;
      width: 18px;
      position: absolute;
      top: 4px;
      right: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 10px;
        font-weight: 600;
      }
    }
  }
}
