* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
* ::-moz-selection {
  background-color: rgb(21, 178, 229);
  color: rgb(255, 255, 255);
}
* ::selection {
  background-color: rgb(21, 178, 229);
  color: rgb(255, 255, 255);
}

.whiteheader {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  color: black;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.whiteheader .block1 {
  display: flex;
  align-items: center;
  padding-right: 32px;
  cursor: pointer;
}
.whiteheader .block1 .logo img {
  width: 173px;
  height: 40px;
}
.whiteheader .block1 .separator {
  border-left: 1px solid rgb(227, 227, 227);
  height: 32px;
  margin: 0 24px;
}
.whiteheader .block1 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 121.45px;
}
@media (max-width: 1200px) {
  .whiteheader .block1 ul {
    display: none;
  }
}
.whiteheader .block1 ul a {
  cursor: pointer;
  text-decoration: none;
  color: #353840;
}
.whiteheader .block1 ul div.dropdown-menu__content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 35px;
  left: 0;
  background-color: white;
  width: 200px;
  border-radius: 15px;
  z-index: 20;
}
.whiteheader .block1 ul div.dropdown-menu__content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.whiteheader .block1 ul div.dropdown-menu__content ul li {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
}
.whiteheader .block1 ul div.dropdown-menu__content ul li:hover {
  background-color: rgba(229, 232, 235, 0.5);
}
.whiteheader .block1 ul div.dropdown-menu__content ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.whiteheader .search {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid rgb(227, 227, 227);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);
}
.whiteheader .search:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.whiteheader .search button.material-icons {
  padding: 0;
  background: none;
  color: #8a939b;
  cursor: pointer;
}
@media (max-width: 600px) {
  .whiteheader .search button.material-icons {
    width: 26px;
  }
}
.whiteheader .search {
  width: 100%;
  margin-right: 12px;
  cursor: text;
}
.whiteheader .search input {
  padding: 0 0 0 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);
}
.whiteheader .search input::-moz-placeholder {
  color: #8a939b;
  font-weight: 400;
}
.whiteheader .search input::placeholder {
  color: #8a939b;
  font-weight: 400;
}
.whiteheader .search input:hover::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.whiteheader .search input:hover::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 600px) {
  .whiteheader .search input {
    display: none;
  }
}
.whiteheader .search button.slash {
  width: 26px;
  height: 26px;
  padding: 0;
  color: #353840;
  background-color: #e5e8eb;
  font-size: 12px;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .whiteheader .search button.slash {
    display: none;
  }
}
.whiteheader .walletandaccount {
  margin-right: 12px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  border: 1px solid rgb(227, 227, 227);
}
@media (max-width: 1023px) {
  .whiteheader .walletandaccount {
    display: none;
  }
}
.whiteheader .walletandaccount button.material-icons {
  padding: 0;
  background: none;
  color: #353840;
  cursor: pointer;
}
.whiteheader .walletandaccount .wallet {
  display: flex;
  justify-content: center;
  padding: 12px;
  cursor: pointer;
}
.whiteheader .walletandaccount .wallet span {
  padding-left: 5px;
  color: #353840;
  white-space: nowrap;
  font-weight: 600;
}
.whiteheader .walletandaccount .account {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 12px;
  border-left: 1px solid rgb(227, 227, 227);
}
.whiteheader .cart {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid rgb(227, 227, 227);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);
  padding: 12px;
  position: relative;
}
.whiteheader .cart:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.whiteheader .cart .material-icons {
  padding: 0;
  background: none;
  cursor: pointer;
  color: #353840;
}
.whiteheader .cart .number {
  background: rgb(32, 129, 226);
  border-radius: 50%;
  color: rgb(255, 255, 255);
  height: 18px;
  width: 18px;
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whiteheader .cart .number span {
  font-size: 10px;
  font-weight: 600;
}

.banner {
  width: 100%;
}
.banner .coverPhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.banner .coverPhoto img {
  max-width: 100%;
  height: 100%;
}
.banner .profilePhoto {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 15px;
  border: 6px solid rgb(255, 255, 255);
  background-color: white;
  z-index: 2;
  position: absolute;
  margin-top: -156px;
  margin-left: 32px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
}
.banner .profilePhoto img {
  width: 100%;
  height: 100%;
}
.banner .information {
  width: 100%;
  padding: 40px 32px 0px 32px;
}
.banner .information .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .information .name .namesection {
  display: flex;
  align-items: center;
}
.banner .information .name .namesection span {
  font-size: 30px;
  color: #04111d;
}
.banner .information .name .namesection .material-icons {
  padding-left: 3px;
  color: #2181e2;
  font-size: 20px;
}
.banner .information .name .iconlist {
  display: flex;
  align-items: center;
}
.banner .information .name .iconlist .icon {
  border-radius: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
}
.banner .information .name .iconlist .icon img {
  width: 20px;
  height: 20px;
}
.banner .information .name .iconlist .icon .material-icons {
  font-size: 20px;
}
.banner .information .name .iconlist .icon i {
  font-size: 20px;
}
.banner .information .name .iconlist div.separator {
  margin: 0px 10px;
  background-color: #e5e8eb;
}
.banner .information .article {
  display: flex;
  align-items: center;
}
.banner .information .article .by {
  font-weight: 400;
  padding-right: 3px;
}
.banner .information .article .articlename {
  font-weight: 600;
  padding-right: 3px;
}
.banner .information .article .material-icons {
  color: #2181e2;
  font-size: 14px;
}
.banner .information .statisticalDataTop {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.banner .information .statisticalDataTop div {
  white-space: nowrap;
}
.banner .information .statisticalDataTop div span.text {
  font-weight: 400;
  margin-right: 5px;
  white-space: nowrap;
}
.banner .information .introduce .introduceword {
  height: 50px;
  overflow: hidden;
}
.banner .information .introduce .introduceword p {
  font-weight: 400;
}
.banner .information .introduce .introduceword a {
  cursor: pointer;
  text-decoration: none;
}
.banner .information .introduce .introduceword.openIntroduce {
  height: 200px;
  overflow: visible;
}
.banner .information .introduce button {
  display: flex;
  align-items: center;
  background-color: white;
}
.banner .information .introduce button .more {
  font-weight: 400;
}
.banner .information .introduce button .material-icons {
  font-size: 20px;
}
.banner .information .statisticalDatabottom {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 8px;
  flex-wrap: wrap;
}
.banner .information .statisticalDatabottom .firstdiv,
.banner .information .statisticalDatabottom .seconddiv {
  display: flex;
}
.banner .information .statisticalDatabottom .firstdiv div,
.banner .information .statisticalDatabottom .seconddiv div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}
.banner .information .statisticalDatabottom .firstdiv div .number,
.banner .information .statisticalDatabottom .seconddiv div .number {
  font-size: 20px;
}
.banner .information .statisticalDatabottom .firstdiv div .text,
.banner .information .statisticalDatabottom .seconddiv div .text {
  font-weight: 400;
  color: #646d75;
  font-size: 14px;
}

main {
  padding: 0px 32px;
  width: 100%;
}
main .firstnav {
  border-bottom: 1px solid rgb(227, 227, 227);
  margin: 32px 0px 32px 0px;
}
main .firstnav .leftButton {
  display: flex;
  align-items: center;
  width: 195px;
  padding-bottom: 10px;
  justify-content: space-between;
  gap: 32px;
}
main .firstnav .leftButton button {
  color: #646d75;
  background-color: transparent;
  cursor: pointer;
}
main .firstnav .leftButton .blackword {
  color: #04111d;
  border-bottom: 3px solid #04111d;
}
main .secondnav {
  display: flex;
  align-items: center;
}
main .secondnav .filter {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  border-radius: 12px;
  border: 1px solid rgb(227, 227, 227);
  margin-right: 16px;
  flex-wrap: nowrap;
  cursor: pointer;
}
main .secondnav .filter span {
  font-size: 16px;
  color: rgb(4, 17, 29);
  white-space: nowrap;
  cursor: pointer;
}
main .secondnav .filter .material-icons {
  font-size: 24px;
  font-weight: 600;
  background: none;
  cursor: pointer;
  margin-right: 12px;
}
main .secondnav .results {
  white-space: nowrap;
  color: #646d75;
  font-weight: 400;
  margin-right: 12px;
}
main .secondnav .search {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid rgb(227, 227, 227);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);
  width: 100%;
  margin-right: 12px;
  padding: 12px;
}
main .secondnav .search input {
  width: 100%;
  height: 22px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s cubic-bezier(0.05, 0, 0.2, 1);
  margin-left: 8px;
}
main .secondnav .search input::-moz-placeholder {
  color: #8a939b;
  font-weight: 400;
  font-size: 16px;
}
main .secondnav .search input::placeholder {
  color: #8a939b;
  font-weight: 400;
  font-size: 16px;
}
main .secondnav .search input:hover::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
main .secondnav .search input:hover::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
main .secondnav .search .material-icons {
  padding: 0;
  background: none;
  color: #8a939b;
  cursor: pointer;
  font-size: 22px;
}
main .secondnav .sort {
  padding: 11px 16px 11px 24px;
  border-radius: 12px;
  border: 1px solid rgb(227, 227, 227);
  display: flex;
  align-items: center;
  margin-right: 16px;
  flex-wrap: nowrap;
  cursor: pointer;
}
@media (max-width: 768px) {
  main .secondnav .sort {
    display: none;
  }
}
main .secondnav .sort span {
  font-size: 16px;
  color: rgb(4, 17, 29);
  white-space: nowrap;
  cursor: pointer;
}
main .secondnav .sort button.material-icons {
  background: none;
  cursor: pointer;
}
main .secondnav .display {
  border-radius: 12px;
  border: 1px solid rgb(227, 227, 227);
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  main .secondnav .display {
    display: none;
  }
}
main .secondnav .display button {
  border-right: 1px solid rgb(227, 227, 227);
  background-color: transparent;
  padding: 13px;
  display: flex;
  align-items: center;
}
main .secondnav .display button span {
  font-size: 22px;
  height: 22px;
  color: rgb(100, 109, 117);
}
main .cardsection {
  display: flex;
  padding-top: 24px;
}
main .cardsection .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.collectioncard {
  width: 293px;
  height: 409px;
  display: flex;
  flex-direction: column;
  flex: 10px 5px 230.4px;
  border-radius: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 15px;
  transition: box-shadow 0.25s ease-in-out 0s;
  position: relative;
  cursor: pointer;
}
.collectioncard .image {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.collectioncard .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.25s ease;
}
.collectioncard .image img:hover {
  transform: scale(1.1);
}
.collectioncard .content {
  padding: 16px;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.collectioncard .content .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collectioncard .content .lastsaleprice {
  color: rgb(100, 109, 117);
  font-size: 14px;
  font-weight: 400;
}
.collectioncard .content .buynow {
  display: flex;
  align-items: center;
  background-color: #2081e2;
  position: absolute;
  left: 0;
  width: 100%;
  height: 36px;
  transition: bottom 75ms ease-in-out 0s;
  border-radius: 0px 0px 10px 10px;
  bottom: -20px;
  cursor: pointer;
}
.collectioncard .content .buynow .buynowdiv {
  display: flex;
  justify-content: center;
  width: 80%;
}
.collectioncard .content .buynow .buynowdiv span {
  text-align: center;
  color: white;
}
.collectioncard .content .buynow .cart {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
  position: relative;
  z-index: 1;
  border-left: 1px solid rgb(227, 227, 227);
  background-color: #2081e2;
  border-radius: 0px 0px 10px 0px;
  transition: all 0.25s ease;
  cursor: pointer;
}
.collectioncard .content .buynow .cart:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.collectioncard .content .buynow .cart .material-icons {
  color: white;
  background-color: transparent;
  font-size: 24px;
  text-align: center;
}
.collectioncard:hover .buynow {
  bottom: 0px;
}

aside {
  min-width: 275px;
  height: 100%;
  padding-right: 32px;
}
@media (max-width: 1024px) {
  aside {
    display: none;
  }
}
aside button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;
  background-color: white;
}

.blackdiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}
.blackdiv .cartdiv {
  width: 375px;
  height: 90vh;
  margin: 24px;
  background-color: white;
  border-radius: 16px;
  position: fixed;
  padding: 24px;
  box-sizing: border-box;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.blackdiv .cartdiv.animate {
  opacity: 1;
  transform: translateX(0);
}
.blackdiv .cartdiv .cartheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}
.blackdiv .cartdiv .cartheader .yourcart {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: rgb(4, 17, 29);
}
.blackdiv .cartdiv .cartheader .info {
  padding-left: 5px;
  font-size: 20px;
  cursor: pointer;
  font-weight: normal;
  color: #04111d;
}
.blackdiv .cartdiv .cartheader .close {
  font-size: 24px;
  cursor: pointer;
  font-weight: normal;
  color: #04111d;
}
.blackdiv .cartdiv .hr1 {
  z-index: 3;
  width: 100%;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.blackdiv .cartdiv .cartbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.blackdiv .cartdiv .cartbody .cartmain {
  width: 100%;
}
.blackdiv .cartdiv .cartbody .cartmain .maintitle {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.blackdiv .cartdiv .cartbody .cartmain .maintitle button {
  background: none;
  font-size: 14px;
  color: #04111d;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem {
  display: flex;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  width: calc(100% + 16px);
  padding: 8px;
  margin: 4px 0px 4px -8px;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem:hover {
  background-color: rgb(247, 247, 247);
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem .img {
  width: 72px;
  height: 72px;
  border-radius: 12px;
  margin-right: 16px;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem .iteminfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem .iteminfo .itemname {
  color: rgb(4, 17, 29);
  font-size: 14px;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem .iteminfo .itemtitle {
  color: rgb(53, 56, 64);
  font-weight: 400;
  font-size: 14px;
  max-width: 86%;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem .iteminfo .earnings {
  font-size: 12px;
  color: rgb(100, 109, 117);
  font-weight: 400;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem .trashcan {
  font-weight: 400;
  font-size: 20px;
  margin-left: auto;
  color: rgb(53, 56, 64);
  cursor: pointer;
}
.blackdiv .cartdiv .cartbody .cartmain .cartitem .price {
  font-weight: 400;
  text-align: right;
  margin-left: auto;
  color: rgb(53, 56, 64);
}
.blackdiv .cartdiv .cartbody .cartmain .hr2 {
  z-index: 3;
  width: 100%;
  border-bottom: 1px solid rgb(227, 227, 227);
  margin: 20px 0px 20px 0px;
}
.blackdiv .cartdiv .cartbody .cartmain div.totalprice {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.blackdiv .cartdiv .cartbody .cartmain div.totalprice .price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.blackdiv .cartdiv .cartbody .cartmain div.totalprice .price .usprice {
  font-size: 12px;
  color: rgb(100, 109, 117);
  font-weight: 400;
}
.blackdiv .cartdiv .cartbody .cartmain .choosewallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #353840;
  padding: 12px 0px;
}
.blackdiv .cartdiv .cartbody .cartmain .choosewallet span {
  font-weight: 400;
}
.blackdiv .cartdiv .cartbody .cartmain .choosewallet .material-icons {
  font-size: 24px;
}
.blackdiv .cartdiv .cartbody .empty-cart {
  color: rgb(100, 109, 117);
  font-weight: 400;
  padding: 44px 0px 70px 0px;
}
.blackdiv .cartdiv .cartbody .lightcomplete {
  color: white;
  width: 100%;
  background-color: rgb(32, 129, 226);
  border-radius: 12px;
  padding: 15px 0px;
  opacity: 0.4;
  margin-top: 16px;
}
.blackdiv .cartdiv .cartbody .darkcomplete {
  margin-top: 16px;
  color: white;
  width: 100%;
  background-color: #2181e2;
  border-radius: 12px;
  padding: 15px 0px;
}/*# sourceMappingURL=style.css.map */